---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
          
  {%- endif -%}

  {%- include news.html -%}
</div>
         <h1 align="" "center"> Home Page </h1> 
          <h1 align="" "center"> Assignment 4, The introduction to Ethics  </h1>

<p> The ethical framework that guides the proper use and development of information technology is known as IT ethics. It comprises data collecting, processing, and dissemination standards that ensure privacy, security, and transparency. Ethical concerns in IT extend to the development of emergent technologies such as artificial intelligence, where tackling biases and supporting justice is critical. Furthermore, IT ethics entails managing challenges such as cybersecurity, digital rights, and technology's environmental effect. Engineers, data analysts, and IT aficionados have an important role in preserving ethical standards, creating trust, and contributing to a sustainable and inclusive digital future.<p>

<p>Take a look around the site and learn more about IT ethics.<p>

<!-- <h1 class="title">Blog Postings from <strong>_posts</strong></h2>        
  <ul>
    {% for post in site.posts %}
      <li>
        Blog Post: <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->